/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  .curso {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }